<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://thuvienvector.com/upload/images/items/vector-hoa-van-hoa-tiet-trong-dong-viet-nam-72.webp" type="image/x-icon">
    <title>Di Tích HT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../libs/pagination/simplePagination.css">
    <link rel="stylesheet" href="../css/root.css">
</head>
<body>
    <div class="root grid">
        <div id="root__header-block" class="root__header-block">
            <div id="root__nav" class="root__nav">
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trang-chu" class="root__nav-link"><span>Cổng thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="http://dhtn.hatinh.gov.vn/dhtn/portal/folder/trang_chu" class="root__nav-link"><span>Điều hành tác nghiệp</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trao-doi-hoi-dap" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/gioi-thieu" class="root__nav-link"><span>UBND tỉnh Hà Tĩnh</span></a>
                    </li>
                </ul>
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a href="./information.html" class="root__nav-link"><span>Thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./introduce.html" class="root__nav-link"><span>Giới thiệu</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./support.html" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./service.html" class="root__nav-link"><span>Dịch vụ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./contact.html" class="root__nav-link"><span>Liên hệ</span></a>
                    </li>
                </ul>
            </div> 
            <div id="root__header" class="root__header">
                <div class="root__header-left">
                    <div class="root__navmobi">
                        <input type="checkbox" name="" id="root__navmobi__control" hidden>
                        <label for="root__navmobi__control" class="root__navmobi-control">
                            <i class="fal fa-bars"></i>
                        </label>
                        <label for="root__navmobi__control" class="modal__overlay"></label>
                        <div id="root__navmobi" class="root__navmobi-list-block">
                            <ul class="root__navmobi-list">
                                <label for="root__navmobi__control" class="root__navmobi-list-close">
                                    <i class="fal fa-times"></i>
                                </label>
                                <li class="root__navmobi-item">
                                    <a href="../../index.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/forbidden-city.png" alt="">
                                        <span>Danh sách di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./festival.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/paper-lantern.png" alt="">
                                        <span>Lễ hội văn hóa</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./artifacts.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/vase.png" alt="">
                                        <span>Hiện vật</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./character.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/cpu-tower.png" alt="">
                                        <span>Nhân vật được thờ</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./ratings.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/star.png" alt="">
                                        <span>Xếp hạng di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./statistical.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/presentation.png" alt="">
                                        <span>Thống kê di tích</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./place.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/location.png" alt="">
                                        <span>Địa điểm di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./library.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/monitor.png" alt="">
                                        <span>Thư viện ảnh</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./file.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/calligraphy.png" alt="">
                                        <span>Hồ sơ di lích</span>
                                    </a>
                                </li>                            
                            </ul>
                         
                        </div>
                    </div>
                    <a href="../../index.html" class="root__header-hot">
                        <h2 class="root__header-hot-title">Quản lý Di Tích</h2>
                        <h3 class="root__header-hot-desc">Sở văn hóa - Thể thao - Du lịch Hà Tĩnh</h3>
                    </a>
                    <form class="root__header-search">
                        <input type="text" class="root__header-search-input" placeholder="Tìm kiếm di tích, lịch sử, văn hóa, lễ hội...">
                        <button class="root__header-search-btn"><i class="fal fa-search"></i></button>
                    </form>
                </div>
                <div class="root__header-ac">
                    <ul class="root__header-list">
                        <li class="root__header-item">
                            <a href="./news.html" class="root__header-link"><span>Tin tức</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./work.html" class="root__header-link"><span>Hoạt động</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./book.html" class="root__header-link"><span>Đặt lịch</span></a>
                        </li>
                    </ul>
                    <div class="root__header-ac-btn btn">
                        <img src="../../assets/libs/img/user.png" alt="">
                        <span>Bá Tương</span>
                        <div class="root__userkey">
                            <div class="root__login">
                                <div class="root__login-header">
                                    <h3 class="root__login-header-title">Đăng nhập</h3>
                                    <a href="./register.html" class="root__login-header-link">Đăng ký</a>
                                </div>
                                <form action="" class="root__login-form form">
                                    <div class="root__login-form-group form__group">
                                        <input type="text" class="root__login-form-input form__input" placeholder="Tài khoản hoặc Email">
                                        <i class="fas fa-user form__icon"></i>
                                    </div>
                                    <div class="root__login-form-group form__group">
                                        <input type="password" class="root__login-form-input form__input" placeholder="Mật khẩu">
                                        <i class="fas fa-key form__icon"></i>
                                    </div>
                                    <div class="root__login-form-mind">
                                        <input type="checkbox" name="" id="root__pass" class="root__login-form-mind-check"> 
                                        <label for="root__pass" class="root__login-form-mind-desc">Ghi nhớ thông tin đăng nhập</label>
                                    </div>
                                    <div class="root__login-form-ac">
                                        <a href="#" class="root__login-form-ac-forget">Quên mật khẩu?</a>
                                        <button class="root__login-form-ac-btn btn">Đăng nhập</button>
                                    </div>
                                </form>
                            </div>
                            <div class="root__logged">
                                <div class="root__logged-header">
                                    <h3 class="root__logged-header-title">Truy cập chức năng</h3>
                                    <a href="#" class="root__logged-header-link">Đăng xuất</a>
                                </div>
                                <div class="root__logged-list">
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/user.png" alt="">
                                        <span>Quản lý tài khoản</span>
                                    </a>
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/insurance.png" alt="">
                                        <span>Vào trang Admin</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="root__body">
            <div id="root__sildebar" class="root__sildebar">
                <ul class="root__sildebar-menu">
                    <li class="root__sildebar-menu-list">
                        <a href="../../index.html" class="root__sildebar-menu-link">
                            <img src="../../assets/libs/img/forbidden-city.png" alt="">
                            <span>Danh sách di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="../../assets/components/festival.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/paper-lantern.png" alt="">
                            <span>Lễ hội văn hóa</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./artifacts.html" class="root__sildebar-menu-link active">
                             <img src="../../assets/libs/img/vase.png" alt="">
                            <span>Hiện vật</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./character.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/cpu-tower.png" alt="">
                            <span>Nhân vật được thờ</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./ratings.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/star.png" alt="">
                            <span>Xếp hạng di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./statistical.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/presentation.png" alt="">
                            <span>Thống kê di tích</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./place.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/location.png" alt="">
                            <span>Địa điểm di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./library.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/monitor.png" alt="">
                            <span>Thư viện ảnh</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./file.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/calligraphy.png" alt="">
                            <span>Hồ sơ di lích</span>
                        </a>
                    </li>
                </ul>
                <input type="checkbox" name="" id="root__note" hidden>
                <div class="root__sildebar-note-block">
                    <div class="root__sildebar-note">
                        <label for="root__note" class="root__sildebar-note-ac">
                            <i class="fal fa-times"></i>
                        </label>
                        <div class="root__sildebar-note-header">
                            <img src="../../assets/libs/img/note.png" alt="">
                            <span>Ghi chú</span>
                        </div>
                        <div class="root__sildebar-note-desc">
                            Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du lịch tỉnh Hà Tĩnh. Nếu bạn gặp vấn đề về sử dụng, xin vui lòng xem: <a href="#">Hướng dẫn sử dụng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="root__content-block" class="root__content-block">
               <div id="root__content" class="root__content">
                    <!-- content page  -->
                    <div class="root__page">
                        <div class="pagelist">
                            <div class="pagelist__header row">
                                <div class="pagelist__header-key col l-4 m-4 c-12">
                                    <img src="../libs/img/vase.png" alt="" class="pagelist__header-img">
                                    <div class="pagelist__header-content">
                                        <h1 class="pagelist__header-title text__key">Hiện vật lịch sử</h1>
                                        <p class="pagelist__header-desc text__desc">Tổng 1.234 hiện vật</p>                           
                                        </div>
                                </div>
                                <form action="" class="pagelist__header-search col l-8 m-8 c-12">
                                    <div class="pagelist__header-search-group">
                                        <input type="text" class="pagelist__header-search-input" placeholder="Tìm kiếm...">
                                        <button class="pagelist__header-search-btn"><i class="fal fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="pagelist__body">
                                <div class="pagelist__list row">
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                            <div class="pagelist__item-media">
                                                <img src="https://kiemsat.1cdn.vn/2018/04/13/img_5591.jpg" alt="" class="pagelist__item-media-img">
                                            </div>
                                            <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://znews-photo.zadn.vn/w660/Uploaded/lerl/2016_11_26/IMG_8746.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://nld.mediacdn.vn/2019/5/5/5954045522135684254252514471480702289838080o-1557050400606260792737.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                            <div class="pagelist__item-content">
                                                <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                <div class="pagelist__item-show">
                                                    <div class="pagelist__item-num">
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/monitor.png" alt="">
                                                            <span>Ảnh(123)</span>
                                                        </div>
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/folder.png" alt="">
                                                            <span>Tài liệu(0)</span>
                                                        </div>
                                                    </div>
                                                    <button class="pagelist__item-btn btn">Chi tiết</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://nld.mediacdn.vn/2019/5/5/8-1444-15570504005991241066023.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://toquoc.mediacdn.vn/2019/6/23/gach-thoi-ly-trang-tri-hinh-rong-hien-vat-khai-quat-tai-hoang-thanh-thang-long-1561265613567413067721.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://file.qdnd.vn/data/images/0/2020/11/18/vuhuyen/16a1de15-066d-458b-b56a-b477966fff61.jpeg?dpi=150&quality=100&w=575" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="http://m.baodaknong.org.vn/database/newsimg/40294.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://hoc360.net/wp-content/uploads/2021/10/1.6.png" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsLkdwH_Joymp40xaqWdP03RW7q93_3sAHMw&usqp=CAU" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://baotuyenquang.com.vn/media/images/2020/10/img_20201001090739.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                                <div class="pagelist__item-media">
                                                    <img src="https://danviet.mediacdn.vn/thumb_w/650/296231569849192448/2021/12/24/114-16403294938711527047066.jpg" alt="" class="pagelist__item-media-img">
                                                </div>
                                                <div class="pagelist__item-content">
                                                    <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                    <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                    <div class="pagelist__item-show">
                                                        <div class="pagelist__item-num">
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/monitor.png" alt="">
                                                                <span>Ảnh(123)</span>
                                                            </div>
                                                            <div class="pagelist__item-num-item">
                                                                <img src="../libs/img/folder.png" alt="">
                                                                <span>Tài liệu(0)</span>
                                                            </div>
                                                        </div>
                                                        <button class="pagelist__item-btn btn">Chi tiết</button>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                            <div class="pagelist__item-media">
                                                <img src="https://vcdn-vnexpress.vnecdn.net/2016/04/11/riu-tay-9029-1460346253.jpg" alt="" class="pagelist__item-media-img">
                                            </div>
                                            <div class="pagelist__item-content">
                                                <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                <div class="pagelist__item-show">
                                                    <div class="pagelist__item-num">
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/monitor.png" alt="">
                                                            <span>Ảnh(123)</span>
                                                        </div>
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/folder.png" alt="">
                                                            <span>Tài liệu(0)</span>
                                                        </div>
                                                    </div>
                                                    <button class="pagelist__item-btn btn">Chi tiết</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pagelist__item-block col l-3 m-6 c-12">
                                        <a href="./artifactDetails.html" class="pagelist__item">
                                            <div class="pagelist__item-media">
                                                <img src="https://vcdn-vnexpress.vnecdn.net/2016/04/11/riu-tay-9029-1460346253.jpg" alt="" class="pagelist__item-media-img">
                                            </div>
                                            <div class="pagelist__item-content">
                                                <span class="pagelist__item-title compact">Trống đồng Đông Sơn</span>
                                                <span class="pagelist__item-desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates cumque dolorem ratione vel distinctio nesciunt hic nobis assumenda doloremque nemo deserunt voluptate est dicta a sint, libero tempora voluptatum.</span>
                                                <div class="pagelist__item-show">
                                                    <div class="pagelist__item-num">
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/monitor.png" alt="">
                                                            <span>Ảnh(123)</span>
                                                        </div>
                                                        <div class="pagelist__item-num-item">
                                                            <img src="../libs/img/folder.png" alt="">
                                                            <span>Tài liệu(0)</span>
                                                        </div>
                                                    </div>
                                                    <button class="pagelist__item-btn btn">Chi tiết</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div id="pagelist__pagination_1" class="pagelist__pagination"></div>
                            </div>
                        </div>
                    </div>
                    <!-- content page  -->
                    <!-- footer  -->
                    <div class="root__footer">
                        Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du Lịch tỉnh Hà Tĩnh
                    </div>
                    <!-- footer  -->
               </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../libs/pagination/jquery.simplePagination.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="../js/root.js"></script>
</html>
