<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://thuvienvector.com/upload/images/items/vector-hoa-van-hoa-tiet-trong-dong-viet-nam-72.webp" type="image/x-icon">
    <title>Di Tích HT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/root.css">
</head>
<body>
    <div class="root grid">
        <div id="root__header-block" class="root__header-block">
            <div id="root__nav" class="root__nav">
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trang-chu" class="root__nav-link"><span>Cổng thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="http://dhtn.hatinh.gov.vn/dhtn/portal/folder/trang_chu" class="root__nav-link"><span>Điều hành tác nghiệp</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/trao-doi-hoi-dap" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a target="_blank" href="https://hatinh.gov.vn/gioi-thieu" class="root__nav-link"><span>UBND tỉnh Hà Tĩnh</span></a>
                    </li>
                </ul>
                <ul class="root__nav-list">
                    <li class="root__nav-item">
                        <a href="./information.html" class="root__nav-link"><span>Thông tin</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./introduce.html" class="root__nav-link"><span>Giới thiệu</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./support.html" class="root__nav-link"><span>Hỗ trợ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./service.html" class="root__nav-link"><span>Dịch vụ</span></a>
                    </li>
                    <li class="root__nav-item">
                        <a href="./contact.html" class="root__nav-link"><span>Liên hệ</span></a>
                    </li>
                </ul>
            </div> 
            <div id="root__header" class="root__header">
                <div class="root__header-left">
                    <div class="root__navmobi">
                        <input type="checkbox" name="" id="root__navmobi__control" hidden>
                        <label for="root__navmobi__control" class="root__navmobi-control">
                            <i class="fal fa-bars"></i>
                        </label>
                        <label for="root__navmobi__control" class="modal__overlay"></label>
                        <div id="root__navmobi" class="root__navmobi-list-block">
                            <ul class="root__navmobi-list">
                                <label for="root__navmobi__control" class="root__navmobi-list-close">
                                    <i class="fal fa-times"></i>
                                </label>
                                <li class="root__navmobi-item">
                                    <a href="../../index.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/forbidden-city.png" alt="">
                                        <span>Danh sách di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./festival.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/paper-lantern.png" alt="">
                                        <span>Lễ hội văn hóa</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./artifacts.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/vase.png" alt="">
                                        <span>Hiện vật</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./character.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/cpu-tower.png" alt="">
                                        <span>Nhân vật được thờ</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./ratings.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/star.png" alt="">
                                        <span>Xếp hạng di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./statistical.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/presentation.png" alt="">
                                        <span>Thống kê di tích</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="root__navmobi-item">
                                    <a href="./place.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/location.png" alt="">
                                        <span>Địa điểm di tích</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./library.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/monitor.png" alt="">
                                        <span>Thư viện ảnh</span>
                                    </a>
                                </li>
                                <li class="root__navmobi-item">
                                    <a href="./file.html" class="root__navmobi-link">
                                        <img src="../../assets/libs/img/calligraphy.png" alt="">
                                        <span>Hồ sơ di lích</span>
                                    </a>
                                </li>                            
                            </ul>
                         
                        </div>
                    </div>
                    <a href="../../index.html" class="root__header-hot">
                        <h2 class="root__header-hot-title">Quản lý Di Tích</h2>
                        <h3 class="root__header-hot-desc">Sở văn hóa - Thể thao - Du lịch Hà Tĩnh</h3>
                    </a>
                    <form class="root__header-search">
                        <input type="text" class="root__header-search-input" placeholder="Tìm kiếm di tích, lịch sử, văn hóa, lễ hội...">
                        <button class="root__header-search-btn"><i class="fal fa-search"></i></button>
                    </form>
                </div>
                <div class="root__header-ac">
                    <ul class="root__header-list">
                        <li class="root__header-item">
                            <a href="./news.html" class="root__header-link"><span>Tin tức</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./work.html" class="root__header-link"><span>Hoạt động</span></a>
                        </li>
                        <li class="root__header-item">
                            <a href="./book.html" class="root__header-link"><span>Đặt lịch</span></a>
                        </li>
                    </ul>
                    <div class="root__header-ac-btn btn">
                        <img src="../../assets/libs/img/user.png" alt="">
                        <span>Bá Tương</span>
                        <div class="root__userkey">
                            <div class="root__login">
                                <div class="root__login-header">
                                    <h3 class="root__login-header-title">Đăng nhập</h3>
                                    <a href="./register.html" class="root__login-header-link">Đăng ký</a>
                                </div>
                                <form action="" class="root__login-form form">
                                    <div class="root__login-form-group form__group">
                                        <input type="text" class="root__login-form-input form__input" placeholder="Tài khoản hoặc Email">
                                        <i class="fas fa-user form__icon"></i>
                                    </div>
                                    <div class="root__login-form-group form__group">
                                        <input type="password" class="root__login-form-input form__input" placeholder="Mật khẩu">
                                        <i class="fas fa-key form__icon"></i>
                                    </div>
                                    <div class="root__login-form-mind">
                                        <input type="checkbox" name="" id="root__pass" class="root__login-form-mind-check"> 
                                        <label for="root__pass" class="root__login-form-mind-desc">Ghi nhớ thông tin đăng nhập</label>
                                    </div>
                                    <div class="root__login-form-ac">
                                        <a href="#" class="root__login-form-ac-forget">Quên mật khẩu?</a>
                                        <button class="root__login-form-ac-btn btn">Đăng nhập</button>
                                    </div>
                                </form>
                            </div>
                            <div class="root__logged">
                                <div class="root__logged-header">
                                    <h3 class="root__logged-header-title">Truy cập chức năng</h3>
                                    <a href="#" class="root__logged-header-link">Đăng xuất</a>
                                </div>
                                <div class="root__logged-list">
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/user.png" alt="">
                                        <span>Quản lý tài khoản</span>
                                    </a>
                                    <a href="#" class="root__logged-item">
                                        <img src="../../assets/libs/img/insurance.png" alt="">
                                        <span>Vào trang Admin</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="root__body">
            <div id="root__sildebar" class="root__sildebar">
                <ul class="root__sildebar-menu">
                    <li class="root__sildebar-menu-list">
                        <a href="../../index.html" class="root__sildebar-menu-link active">
                            <img src="../../assets/libs/img/forbidden-city.png" alt="">
                            <span>Danh sách di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./festival.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/paper-lantern.png" alt="">
                            <span>Lễ hội văn hóa</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./artifacts.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/vase.png" alt="">
                            <span>Hiện vật</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./character.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/cpu-tower.png" alt="">
                            <span>Nhân vật được thờ</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./ratings.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/star.png" alt="">
                            <span>Xếp hạng di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./statistical.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/presentation.png" alt="">
                            <span>Thống kê di tích</span>
                        </a>
                    </li>
                    <hr>
                    <li class="root__sildebar-menu-list">
                        <a href="./place.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/location.png" alt="">
                            <span>Địa điểm di tích</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./library.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/monitor.png" alt="">
                            <span>Thư viện ảnh</span>
                        </a>
                    </li>
                    <li class="root__sildebar-menu-list">
                        <a href="./file.html" class="root__sildebar-menu-link">
                             <img src="../../assets/libs/img/calligraphy.png" alt="">
                            <span>Hồ sơ di lích</span>
                        </a>
                    </li>
                </ul>
                <input type="checkbox" name="" id="root__note" hidden>
                <div class="root__sildebar-note-block">
                    <div class="root__sildebar-note">
                        <label for="root__note" class="root__sildebar-note-ac">
                            <i class="fal fa-times"></i>
                        </label>
                        <div class="root__sildebar-note-header">
                            <img src="../../assets/libs/img/note.png" alt="">
                            <span>Ghi chú</span>
                        </div>
                        <div class="root__sildebar-note-desc">
                            Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du lịch tỉnh Hà Tĩnh. Nếu bạn gặp vấn đề về sử dụng, xin vui lòng xem: <a href="#">Hướng dẫn sử dụng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="root__content-block" class="root__content-block">
                <div id="root__content" class="root__content">
                    <!-- content page  -->
                    <div class="root__page">
                        <div class="login">
                            <div class="login__bread-block">
                                <div class="login__bread">
                                    <a href="#" class="login__bread-item"><span>Trang chủ</span></a>
                                    <span class="login__bread-sep"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg></span>
                                    <span href="#" class="login__bread-item"><span>Đăng ký</span></span>
                                </div>
                            </div>
                            <div class="login__body row">
                                <div class="login__form-block col l-8 m-12 c-12">
                                        <form class="login__form form">
                                            <div class="login__form-header">
                                                <div class="login__form-header-media">
                                                    <img src="../libs/img/key.png" alt="">
                                                </div>
                                                <div class="login__form-header-content">
                                                    <h1 class="login__form-header-title">Đăng ký tài khoản</h1>
                                                    <p class="login__form-header-desc">Vào hệ thống</p>
                                                </div>
                                            </div>
                                            <div class="login__form-body">
                                                <div class="login__form-group form__group">
                                                    <input type="text" class="login__form-input form__input" placeholder="Tên đăng nhập">
                                                    <i class="fas fa-user form__icon"></i>
                                                </div>
                                                <div class="login__form-group form__group">
                                                    <input type="password" class="login__form-input form__input" placeholder="Mật khẩu">
                                                    <i class="fas fa-key form__icon"></i>
                                                </div>
                                                <div class="login__form-group form__group">
                                                    <input type="text" class="login__form-input form__input" placeholder="Địa chỉ Email">
                                                    <i class="fal fa-envelope form__icon"></i>
                                                </div>
                                                <div class="login__form-group form__group">
                                                    <input type="text" class="login__form-input form__input" placeholder="Số điện thoại">
                                                    <i class="fas fa-phone form__icon"></i>
                                                </div>
                                            </div>
                                            <div class="login__form-ac">
                                                <button class="login__form-ac-btn btn register">Đăng ký tài khoản</button>
                                            </div>
                                        </form>
                                </div>
                                <div class="login__slidebar-block col l-4 m-12 c-12">
                                        <div class="root__help">
                                            <div class="root__help-header">
                                                <div class="root__help-header-media">
                                                    <img src="../libs/img/lifebuoy.png" alt="">
                                                </div>
                                                <div class="root__help-content">
                                                    <h2 class="root__help-header-title">Trợ giúp</h2>
                                                    <p class="root__help-header-desc">Cho hệ thống đăng nhập</p>
                                                </div>
                                            </div>
                                            <div class="root__help-list">
                                                <a href="" class="root__help-item item">
                                                    <div class="root__help-item-media">
                                                        <img src="https://lh3.googleusercontent.com/proxy/PWKswzKm1AQcqY7x5d_5i9my7xYmePcSqWiKx4hnY2j_ueTytGZVpqSf8azNDnsw8rH644jPRpDFcC929d9d6luc3yI-77h2-f0oAlz3ITbsige3Jqtl" alt="">
                                                    </div>
                                                    <div class="root__help-item-content">
                                                        <h3 class="root__help-item-title item__title compact">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo aspernatur aperiam deserunt autem, placeat quasi dolor illum? Ullam reiciendis adipisci recusandae consequuntur harum, rerum at atque porro culpa dolores in!</h3>
                                                        <p class="root__help-item-desc item__desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rem, minima, architecto numquam officiis impedit voluptatum, assumenda corporis illo suscipit iure incidunt doloremque exercitationem vitae quam earum natus nemo debitis?</p>
                                                    </div>
                                                </a>
                                                <a href="" class="root__help-item item">
                                                    <div class="root__help-item-media">
                                                        <img src="https://lh3.googleusercontent.com/proxy/PWKswzKm1AQcqY7x5d_5i9my7xYmePcSqWiKx4hnY2j_ueTytGZVpqSf8azNDnsw8rH644jPRpDFcC929d9d6luc3yI-77h2-f0oAlz3ITbsige3Jqtl" alt="">
                                                    </div>
                                                    <div class="root__help-item-content">
                                                        <h3 class="root__help-item-title item__title compact">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo aspernatur aperiam deserunt autem, placeat quasi dolor illum? Ullam reiciendis adipisci recusandae consequuntur harum, rerum at atque porro culpa dolores in!</h3>
                                                        <p class="root__help-item-desc item__desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rem, minima, architecto numquam officiis impedit voluptatum, assumenda corporis illo suscipit iure incidunt doloremque exercitationem vitae quam earum natus nemo debitis?</p>
                                                    </div>
                                                </a>
                                                <a href="" class="root__help-item item">
                                                    <div class="root__help-item-media">
                                                        <img src="https://lh3.googleusercontent.com/proxy/PWKswzKm1AQcqY7x5d_5i9my7xYmePcSqWiKx4hnY2j_ueTytGZVpqSf8azNDnsw8rH644jPRpDFcC929d9d6luc3yI-77h2-f0oAlz3ITbsige3Jqtl" alt="">
                                                    </div>
                                                    <div class="root__help-item-content">
                                                        <h3 class="root__help-item-title item__title compact">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo aspernatur aperiam deserunt autem, placeat quasi dolor illum? Ullam reiciendis adipisci recusandae consequuntur harum, rerum at atque porro culpa dolores in!</h3>
                                                        <p class="root__help-item-desc item__desc compact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rem, minima, architecto numquam officiis impedit voluptatum, assumenda corporis illo suscipit iure incidunt doloremque exercitationem vitae quam earum natus nemo debitis?</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="root__help-all">
                                                <a href="#" class="root__help-all-link">Xem thêm</a>
                                            </div>
                                            <a href="./login.html" class="root__help-ac register">Đăng nhập</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content page  -->
                    <!-- footer  -->
                    <div class="root__footer">
                        Hệ thống quản lý di tích được vận hành bởi sở Văn Hóa - Thể Thao - Du Lịch tỉnh Hà Tĩnh
                    </div>
                    <!-- footer  -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/root.js"></script>
</html>
