:root {
    --slidebar: 240px;
    --body: calc(100% - (var(--slidebar)));
    --nav: 30px;
    --header: 80px;
    --mscroll: calc(var(--header) + var(--nav));

    
    --gradient: linear-gradient(180deg, #B40000 0%, #9A0000 100%);
    --gradient__yel: linear-gradient(180deg, #EEFF8A 0%, #F6D317 100%);
    --gradient__yel__opa: linear-gradient(180deg, #FFFEE0 0%, #FFFEDA 100%);
    --gradient__blu: linear-gradient(180deg, #1EDBAF 0%, #21C59F 100%);
    --gradient__red: linear-gradient(180deg, #B40000 0%, #9A0000 100%);
    --gradient__whi: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F4F4F4 100%);
    --primary: #9B0000;
    --primary__sub: #B30000;
    --second: #F6D317;
    --text: #4B4B4B;
    --sub__text: #C4C4C4;
    --bgr: #F4F4F4;
    --bgr__sub: #E7E7E7;
}

/* reset  */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;;
    font-size: 62.5%;
    line-height: 2rem;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    color: var(--text);
    background: #fff;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

input,
button,
select {
    outline: none;
    border: none;
    font-size: 1.4rem;
}

button:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

input[type="password"]{
    font-family: Verdana;
}

/* reset  */


/* base  */
.btn {
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn.btn--primary {
    background: #fff;
}

.btn.btn--primary:hover {
    background: var(--bgr__hover);
}

.compact {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
} 

.title {
    font-size: 3rem;
}

.text__key {
    color: #5A5A5A;
    font-size: 2.5rem;
    line-height: 5rem;
}

.text__desc {
    color: var(--sub__text);
    font-size: 1.6rem;
}

@media screen and (max-width: 63.938em) {
    .text__key {
        font-size: 1.8rem;
        line-height: 3rem;
    } 
    .text__desc {
        font-size: 1.4rem;
    }
}

.tooltip {
    position: relative;
}

.ttip {
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    min-width: 80px;
    padding: 0 5px;
    text-align: center;
    background: var(--bgr__sub);
    font-size: 1.2rem;
    line-height: 2rem;
    border-radius: 4px;
    display: none;
}

.tooltip:hover .ttip {
    display: block;
    animation: fadeIn ease-in 0.5s;
}

.ttip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 6px solid var(--bgr__sub);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.item:hover {
    background: #B10000;
}

.item:hover .item__title {
    color: #FFEAC1;
}

.item:hover .item__desc {
    color: #FFEDBB8A;
}

/* flex  */
.flex {
    display: flex;
    align-items: center;
}
/* flex  */

/* select  */
.custom-select {
    width: 150px;
    height: 100%;
}
  
.custom-select select {
    display: none;  
}

.select-selected {
    background-color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 4rem;
    width: 100%;
    padding-right: 20px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid #EDEDED;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.select-selected.select-arrow-active:after {
    top: calc(50% - 5px);
    border-bottom: 10px solid #EDEDED;
    border-top: 10px solid transparent;
}

.select-items div,
.select-selected {
    color: var(--text);
    cursor: pointer;
    height: 100%;
    font-weight: 600;
}

.select-items div {
    font-weight: 400;
    border-radius: 6px;
    padding: 5px 10px;
}

.select-items {
    position: absolute;
    background-color: #fff;
    top: calc(100%);
    left: 0;
    right: 0;
    z-index: 99;
    padding: 5px;
    border-radius: 6px;
    box-shadow: -6px 9px 11px rgb(0, 0, 0 , 0.5);
    width: max-content;
    min-width: 100%;
}

.select-hide {
    display: none;
}

.select-items div:hover, 
.same-as-selected {
    background-color: #F0F0F0;
}
/* select  */


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tranleft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal__body {
    position: relative;
    margin: auto;
    animation: fadeIn linear 0.1s;
}

.form {
    width: 100%;
    color: var(--text);
}

.form__group {
    background: var(--bgr);
    border-radius: 6px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.form__input {
    flex: 1;
    padding: 0 10px 0 45px;
    height: 100%;
    background: var(--bgr);
    color: var(--text);
    position: relative;
    border: 1px solid transparent;
    border-radius: 6px;
}

.form__input:focus {
    border: 1px solid var(--primary);
}

.form__input::placeholder {
    color: var(--sub__text);
}

.form__icon {
    color: #CACACA;
    font-size: 2.5rem;
    position: absolute;
    left: 10px;
}

.form__input:focus ~ .form__icon {
    color: var(--primary);
}

/* base  */

.root {
    font-size: 1.4rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
}


/* layout  */

.root__body {
    height: 100vh;
    display: flex;
}

.root__sildebar {
    width: var(--slidebar);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    margin-top: var(--mscroll);
    background: #FBFBFB;
}

.root__content-block {
    flex-grow: 1;
    position: relative;
    margin-top: var(--mscroll);
    width: var(--body);
    background: var(--bgr);
    margin-left: var(--slidebar);
}

.root__content {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.root__page {
    padding: 40px;
}

.root__content::-webkit-scrollbar-track {
    background: var(--bgr);
}

.root__content::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
} 

.root__content::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}
/* layout  */


.root__header-block {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: var(--mscroll);
}

/* nav  */
.root__nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: var(--nav);
}

.root__nav-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.root__nav-link {
    display: block;
    padding: 5px 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: 400;
}

.root__nav-link:hover {
    text-decoration: underline;
}

/* nav  */

/* header  */
.root__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header);
    padding: 0 20px;
    background-image: var(--gradient);
    transition: all 0.5s;
}

.root__header-left {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.root__header-hot {
    color: #fff;
}

.root__header-hot-title {
    font-size: 2rem;
}   

.root__header-hot-desc {
    font-weight: 300;
    font-size: 1.2rem;
}

.root__header-search {
    flex: 1;
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 20px;
}

.root__header-search-input {
    order: 2;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    padding: 0 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: var(--primary);
    color: #fff;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #C50606;
}

.root__header-search-input::placeholder {
    color: #E27C7C;
}

.root__header-search-btn {
    order: 1;
    height: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--primary);
    color: #C00505;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #C50606;
}

.root__header-search-input:focus ~ .root__header-search-btn {
    color: #fff;
}

.root__header-ac {
    display: flex;
    align-items: center;
}

.root__header-list {
    display: flex;
    margin-right: 10px;
}

.root__header-link {
    padding: 5px 10px;
    color: #fff;
}

.root__header-link:hover {
    text-decoration: underline;
}


.root__header-ac-btn {
    height: 40px;
    background: #fff;
    color: #2593FF;
    display: flex;
    align-items: center;
    position: relative;
}

.root__header-ac-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    display: none;
}

.root__header-ac-btn::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 10px;
    background: transparent;
    width: 100%;
}

.root__header-ac-btn>span{
    font-size: 1.5rem;
}

.root__header-ac-btn:hover>span{
    text-decoration: underline;
}

.root__header-ac-btn img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

/* popup user */
.root__userkey {
    position: absolute;
    top: calc(100% + 9px);
    right: 0;
    background: #fff;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: none;
}

.root__header-ac-btn:hover.root__header-ac-btn::after,.root__header-ac-btn:hover .root__userkey {
    display: block;
    animation: fadeIn ease-in 0.3s;
}

.root__userkey-on {
    display: none;
}

.root__userkey-off {
    display: block;
}

.root__login {
    /* display: none; */
}

.root__login-form-input {
    position: relative;
}

.root__login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.root__login-header-title {
    color: #5A5A5A;
    font-size: 2rem;
    position: relative;
}

.root__login-header-title::before {
    
}

.root__login-header-link {
    color: #20CAA2;
    font-size: 1.6rem;
}

.root__login-header-link:hover {
    text-decoration: underline;
}

.root__login-form-mind {
    margin-bottom: 20px;
    display: flex;
    height: 24px;
}

.root__login-form-mind-check {
    margin: 0 5px 0 0;
    height: 20px;
    transform: scale(1.2);
}

.root__login-form-mind-desc {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.root__login-form-ac {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root__login-form-ac-forget {
    font-size: 1.3rem;
    color: #B10000;
}

.root__login-form-ac-forget:hover {
    text-decoration: underline;
}

.root__login-form-ac-btn {
    background-image: var(--gradient__blu);
    padding: 10px 20px;
}

.root__login-form-ac-btn:hover {
    opacity: 0.8;
}

.root__logged {
    display: none;
}

.root__logged-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root__logged-header-title {
    color: #CECECE;
    font-size: 2rem;
}

.root__logged-header-link {
    color: #9A0000;
    font-size: 1.6rem;
}

.root__logged-header-link:hover {
    text-decoration: underline;
}

.root__logged-list {
    margin-top: 20px;
}

.root__logged-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

.root__logged-item:hover {
    background: var(--bgr__sub);
}

.root__logged-item>img {
    margin-right: 10px;
}

.root__logged-item>span {
    font-size: 1.4rem;
}


/* popup user */

/* menu mobile  */
.root__navmobi {
    height: 100%;
    display: none;
}

.root__navmobi .modal__overlay {
    z-index: 1;
}

.root__navmobi-control {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
}

.root__navmobi-control>i{
    font-size: 3rem;
    margin: 0;
}

.root__navmobi-list-block {
    position: fixed;
    z-index: 2;
    top: var(--header);
    left: 0;
    bottom: 0;
    width: 100vmin;
    background: transparent;
    display: none;
}

.root__navmobi-list {
    animation: tranleft ease-in 0.3s;
    background: #fff;
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    position: relative;
}

.root__navmobi-list-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root__navmobi-list-close:hover {
    background: var(--primary);
}

.root__navmobi-list>hr {
    border: none;
    border-top: 2px dotted  var(--bgr__sub);
    color: #FBFBFB;
    background-color: #FBFBFB;
    height: 1px;
    width: 100%;
}

.modal__body.navmonile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#root__navmobi__control:checked~.modal__overlay {
    display: flex;
}

#root__navmobi__control:checked~.root__navmobi-list-block {
    display: block;
}

.root__navmobi-link {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.root__navmobi-link:hover {
    background: #ccc;
}

.root__navmobi-link span{
    font-size: 1.4rem;
}

.root__navmobi-link img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
/* menu mobile  */


/* menu  */
.root__sildebar-menu {
    padding: 0 10px;
}

.root__sildebar-menu hr {
    border: none;
    border-top: 2px dotted  var(--bgr__sub);
    color: #FBFBFB;
    background-color: #FBFBFB;
    height: 1px;
    width: 100%;
}

.root__sildebar-menu-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text);
    position: relative;
    border-radius: 6px;
}

.root__sildebar-menu-link span{
    display: block;
    line-height: 2.5rem;
}

.root__sildebar-menu-link:hover span{
    text-decoration: underline;
}

.root__sildebar-menu-link img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.root__sildebar-menu-link.active {
    background: #EDEDED;
    opacity: 1;
}

.root__sildebar-note-block {
    padding: 0 10px;
    margin-top: 10px;
}

#root__note:checked~.root__sildebar-note-block {
    display: none;
}

.root__sildebar-note {
    background-image: var(--gradient__yel);
    padding: 10px;
    position: relative;
    border-radius: 6px;
}

.root__sildebar-note-ac {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 26px;
    width: 26px;
    background: #D3B40B;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.root__sildebar-note-ac:hover {
    background: #d6c24c;
    color: #fff;
}

.root__sildebar-note-ac i {
    font-size: 2rem;
    margin: auto;
}

.root__sildebar-note-header {
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.root__sildebar-note-header img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.root__sildebar-note-desc {
    font-size: 1.2rem;
}

.root__sildebar-note-desc a{
    display: block;
    text-align: center;
    color: var(--primary);
}

.root__sildebar-note-desc a:hover{
    text-decoration: underline;
}
/* menu  */

/* footer  */
.root__footer {
    padding: 0 10px;
    background: #fff;
    text-align: center;
    font-size: 1.6rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer  */

/* relate  */
.root__related {
    margin-top: 30px;
}

.root__related-title {
    margin-bottom: 20px;
}

.root__related-list {

}

.root__related-item {
    border-radius: 6px;
    background: #fff;
    display: block;
    margin-bottom: 20px;
    height: 100%;
}

.root__related-item:hover {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.root__related-item-media {
    height: 200px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.root__related-item-media-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.root__related-content {
    padding: 10px;
}

.root__related-content-title {
    font-size: 1.6rem;
    -webkit-line-clamp: 2;
    font-weight: 600;
    margin-bottom: 5px;
}

.root__related-content-desc {
    -webkit-line-clamp: 4;
}

/* relate  */

/* responsive  */

@media screen and (max-width: 86.875em){
    .root__sildebar {
        width: 60px;
    }

    .root__content-block {
        margin-left: 60px;
    }

    .root__sildebar-menu-link span {
        display: none;
    }

    .root__page {
        padding: 30px 15px 30px 15px;
    }

    .root__sildebar-note-block {
        display: none;
    }

    .root__sildebar-menu-list {
        margin-bottom: 10px;
    }

    .root__sildebar-menu-link {
        padding: 5px;
        justify-content: center;
    }

    .root__sildebar-menu-link img {
        margin-right: 0;
    }
}

@media screen and (max-width: 64.063em){
}

@media screen and (max-width: 64em){
    .details__fast {
        top: 16px !important;
    }
    
}

@keyframes toleft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 63.938em) {
    .root__header-block {
        height: var(--header);
    }

    .root__header {
        padding: 0 10px;
    }
    
    .root__header-hot {
        text-align: center;
    }

    .root__header-search {
        display: none;
    }
        
    .root__nav {
        display: none !important;
    }

    .root__content-block,
    .root__sildebar {
        margin-top: var(--header);
    }
    
    .root__related-item {
        height: unset;
    }
}

@media screen and (min-width: 46.250em) and (max-width: 63.938em){
    .root__related-content-title {
        line-height: 1.8rem;
        min-height: 3.6rem;
    }
    
    .root__related-content-desc {
        line-height: 2rem;
        min-height: 8rem;
    }
}

@media screen and (max-width: 46.250em) {
    .root__content-block {
        margin-left: 0;
    }
}

@media screen and (max-width: 46.188em) {
    .root__related-item-media {
        height: 180px;
    }

    .custom-select {
        width: 100%;
    }

    .root__content-block {
        margin-top: var(--header);
    }

    .root__header-block {
        height: var(--header);
    }

    .root__userkey {
        width: 80vmin !important;
        padding: 10px;
    }

    .root__logged-header-title {
        font-size: 1.6rem;
    }

    .root__logged-header-link {
        font-size: 1.4rem;
    }

    .root__header-ac-btn>span {
        display: none;
    }

    .root__header-ac-btn>img {
        margin-right: 0;
    }

    .root__navmobi {
        display: block;
    }

    .root__navmobi-control {
        color: #fff;
    }

    .root__header-hot {
        flex: 1;
    }

    .root__header-hot-title {
        /* margin-bottom: 10px; */
    }

    .root__header-list {
        display: none;
    }
    
    .root__navmobi-link span{
        font-size: 1.6rem;
    }
}
/* responsive  */