.library {

}

.library__list {

}

.library__item-block {

}

.library__item {
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.library__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
}

.library__item:hover .library__item-img {
    transform: scale(1.1);
}

.library__item-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
}

.library__item:hover .library__item-content {
    display: flex;
    animation: fadeIn 0.3s ease-in;
}

.library__item-content-btn {
    background: #fff;
    color: var(--text);
}

.library__item-content-btn:hover {
    opacity: 0.8;
}

.library__item-content-btn:first-child {
    margin-right: 10px;
}
